:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}
*,
*::before
*::after {
  box-sizing: border-box;
}

body {
    background-color: white;
    font-family: var(--font-family);
	  line-height: 1.5;
  }

ul {
  list-style-type: none;
}
.container {
  width: 1200px;
}

/* styles nav*/
.global-header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid var(--cornflower);
}

.nav {
  display: flex;
}

.global-header .nav-list a:hover,
a:focus {
  color: var(--ocean);
}

.nav-list{
  display: flex;
}
.nav-list a {
  color: var(--navy-blue);
  font-size: medium;
  text-decoration: none;
}

.conact,.item-contact{
  color: var(--slate);
  text-decoration: none;
}

.item-contact:hover {
  color: var(--ocean);
}

/* styles hero*/
.hero-image {
  height: 600px;
	background-color: var(--navy-blue);
	color: var(--white);
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-button {
	background-color: var(--iris);
	color: var(--white);
	width: 169px;
	height: 56px;
	text-align: center;
	cursor: pointer;
}

.hero-button:hover {
	background-color:var(--light-slate) ;
}

/* styles skils*/
.list-skils {
  display: flex;
  justify-content: center;
}
.title-skils {
	color: var(--navy-blue);
}

.text-skils {
	color: var(--slate);
}

.title {
	color: var(--navy-blue);
	text-align: center;
  text-transform: capitalize;
}

.list-img {
	display: flex;
}

/* styles our team*/
.section-our-team {
	background-color: var(--cloud);
}

.list-photo {
	display: flex;
  justify-content: center;
}
.photo {
	border: none;
	background-color: var(--white);
}
  
/* styles footer*/
.footer {
    background-color: var(--navy-blue);
    color: var(--cloud);
  }

  .blue {
    color:blue;
  }

  .clud {
    color: var(--cloud);
  }

  .text-footer {
    width: 264px;
    height: 72px;
  }

  /* section button portofolio*/
  .list-button {
    display: flex;
  }

  .button {
    width: 69px;
    height: 48px;
    background-color: var(--cloud);
    color: var(--ocean);
    border: none;
  }

  .button:focus,
  .button:hover {
    color: var(--cornflower);
    cursor: pointer;
  }

  .button-first {
    background-color: var(--iris);
    color: var(--cloud);
  }

  .button-first:hover,
  .button-first:focus {
    color: var(--ocean)S;
    cursor: pointer;
  }

  /* styles projects*/
  .list-projects {
    display: flex;
  }

  .list-item-img {
    border: solid  var(--cornflower);
    color: var(--navy-blue);
  }

  .img {
    width: 360px;
    height: 300px;
  }

  .title-img {
    color:var(--navy-blue);
  }
  
  .text-img {
    color: var(--slate);
  }

