:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --padding-large: 94px;
  --font-size-base: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: var(--font-family);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
/* Header Styles */
.global-header {
  font-size: var(--second-family);
  display: flex;
  padding: 20px;
  border-bottom: solid var(--cornflower);
}

.global-header a {
  text-decoration: none;
}

.global-header .nav-list a:hover,
a:focus {
  color: var(--ocean);
}

.global-header .email,
.global-header .tel {
  color: var(--slate);
  text-align: none;
}

.global-header .email:hover,
.global-header .tel:hover {
  color: var(--ocean);
}

.nav-list {
  display: flex;

  position: 0;
  margin: 0;
}

.nav-list li {
  margin-right: 30px;
}
.nav-list a {
  color: var(--navy-blue);
  font-size: medium;
  text-decoration: none;
  padding-right: 30px;
}

address {
  display: flex;
  gap: 20px;
  margin-left: 40%;
  margin-right: 20px;
}

/*Hero Styles*/
.hero-image {
  background-color: var(--navy-blue);
  align-items: center;
  justify-content: center;
  padding: var(--padding-large) 0;
}

.title-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  font-size: x-large;
}

.hero-button {
  background-color: var(--iris);
  color: var(--white);
  width: 169px;
  height: 56px;
  margin-top: 15px;
  border-radius: 5%;
  text-align: center;
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--light-slate);
}

/* Skills Section */
.list-skills {
  width: 1200px;
  display: flex;
  justify-content: center;
  gap: 20px;
  color: var(--navy-blue);
  padding: var(--padding-large) 0;
}

.text-skills {
  color: var(--slate);
}

/* Image Section */
.list-img {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-large) 0;
}

/* Our Team Section */
.our-team {
  background-color: var(--cloud);
  padding: var(--padding-large) 0;
}

.header-our-team {
  padding-top: 5%;
}

.list-photo {
  display: flex;
  justify-content: space-evenly;
}

.photo {
  border: none;
  background-color: var(--white);
}

.card-content {
  text-align: center;
}
.container {
  width: 1200px;
}

/* Footer Styles */
footer {
  background-color: var(--navy-blue);
  color: var(--cloud);
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.logo-text-footer {
  width: 264px;
  height: 112px;
  margin-left: 15%;
}
.blue {
  color: blue;
}

.clud {
  color: var(--cloud);
}

.logo-footer {
  font-size: large;
}

/* Portfolio Buttons*/
.list-button {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: var(--padding-large);
}

.button {
  background-color: var(--cloud);
  color: var(--ocean);
  border: none;
  border-radius: 5%;
  width: 116px;
  height: 48px;
}

.button:focus,
.button:hover {
  color: var(--cornflower);
  cursor: pointer;
}

.button-first {
  background-color: var(--iris);
  color: var(--cloud);
  width: 69px;
}

.button-first:hover,
.button-first:focus {
  color: var(--ocean);
  cursor: pointer;
}

/* Portfolio Projects */
.list-projects-portofolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: var(--padding-large) 0px;
}

.list-item-img {
  border: solid var(--cornflower);
  color: var(--navy-blue);
}

.img {
  width: 360px;
  height: 300px;
}

.title-img {
  color: var(--navy-blue);
}

.text-img {
  color: var(--slate);
}

.text-img-portofolio {
  margin-left: 5%;
}
